body {
  display: flex;
  flex-direction: column;
  background-color: grey;
  align-items: center;
  justify-content: center;
}

.mainArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
